html, body {
    height: 100%;
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #333;
}

nav .dropdown {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav .dropdown:hover {
  background-color: #faf;
  color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.apresentacao {
    clear: both;
  text-align: center;
  padding: 20px;
}

.col-container {
    /* Estas propriedades tornam o design responsivo */
    /* Se você usar isso aqui, NÃO USE float: left */
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;

    column-width: 10vw;
    -webkit-column-width: 10vw;
    -moz-column-width: 10vw;

    /* Separação entre colunas por linha */
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
}

.col {
  width: 20vw;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  padding: 2vw;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
