.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

.apresentacao {
  text-align: center;
  padding: 20px;
}

.col-container {
    /* Estas propriedades tornam o design responsivo */
    /* Se você usar isso aqui, NÃO USE float: left */
    column-count: 4
    -webkit-column-count: 4
    -moz-column-count: 4

    column-width: 240px
    -webkit-column-width: 240px
    -moz-column-width: 240px

    /* Separação entre colunas por linha */
    -webkit-column-rule: 1px dotted #ddd
    -moz-column-rule: 1px dotted #ddd
    column-rule: 1px dotted #ddd
}

.col {
  float: left;
  width: 25%;
}

.col-container:after {
  clear: both;
  display: table;
  content: "";
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
